CALENDAR_FEED=https://example.com/your-calendar-feed.ics

SCHOOL_CALENDAR_FEED=
VACATION_CALENDAR_FEED=https://www.schulferien.org/deutschland/ical/ical_bayern.ics

HOLIDAY_COUNTRY=de
HOLIDAY_STATE=by
